name: Quran-Test-Stream
on:
  workflow_dispatch:
jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Start
        run: |
          ffmpeg -re -i "https://www.youtube.com/watch?v=9cauMvs6aYQ" \
          -c:v libx264 -preset ultrafast -b:v 1000k -c:a aac -f flv "rtmp://a.rtmp.youtube.com/live2/bxv1-229e-2p3p-j3fb-9rfp"
